.headerTitle{
  color:  #3d3d9b;
  text-align: center;
  background: rgb(255, 255, 255);
  position: relative;
  top: 120px;
  font-size: 1.5rem;
}
.headerTex{
  padding-left: 15px;
  position: relative;
  top: 130px;
  border-bottom: 1px solid white;
  font-size: 2rem;
  padding: 0 20px;
}
.headerBtn{
  position: relative;
  top: 150px;
  width: 550px;
  font-size: 2rem;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.headerBtn:hover{
  font-size: 2.5rem;
}
.foo{
  display: block;
  position: relative;
  bottom: -380px;
  text-align: center;
  border-top: 1px solid #ffffff;
}

.center{
  text-align: center;
}


.principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.hidden{
  display: none;
}
.show{
  width: 100vw;
  height: 100vh;
  display:block;
  position: relative;
  padding: 70px;
  background: #3d3d9b; 
}

input{
  width: 200px;
  height: 20px;
  border: none;
  color: #000000;
}

.bg-aniversary{
  background: url(./assets/feliz-cumpleanos-globos-realistas.jpg);
  width: 90%;
  height: 80%;
  position: relative; 
  top: -200px;
  border-radius: 20px;
}
.bg-jobReunion{
  /* border: 1px solid black; */
  background: url(./assets/work-reunion.png);
  color: #000000;
  width: 90%;
  height: 80%;
  position: relative; 
  top: -200px;
  border-radius: 20px;
  .dedicatoriaCenter{
    color:#000000;
    font-size: 2rem;
    background: yellow;
  }
}

.bg-holidays{
  
  background: url(./assets/fondo-bokeh-perfecto-canva.jpg);
  width: 90%;
  height: 80%;
  position: relative; 
  top: -200px;
  border-radius: 20px;
}
.empresa{
  font-size: 2rem;
  text-align: end;
  padding-right: 10px;
  position: relative;
  bottom: -30px;
}

.destinatario{
  font-size: 4rem;
  text-align: start;
  padding-left: 10px;
}
.dedicatoriaCenter{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow:auto;
  background: #000000;
  border-radius: 20px;
  opacity: 0.5;
  margin: 0 25%;
  height: 100px;
}

.titulo{
  display: block;
  margin-bottom: 70px;
  font-size: 3rem;
}

.btn{
  width: 100px;
  height: auto;
  padding: 5px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.btnCenter{
  width: 50%;
  height: auto;
  padding: 5px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  position: relative;
  top: -150px;
}

@media (max-width: 750px) {
  .bg-holidays{
    width: 500px;
  }
  .bg-aniversary{
    width: 500px;
  }
  .bg-jobReunion{
    width: 500px;
  }
  .dedicatoriaCenter{
    margin: 0 5%;
  }
  .empresa{
    bottom: -50px;
  }
  .destinatario{
    font-size: 3rem;
  }
  .titulo{
    font-size: 2rem;
  }
  .btnCenter{
    left: -15%;
  }
}